//
// === Typography ===
//
$spacer-size: 10px;

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

input,
button {
	all: unset;
}

//
// === Selection ===
//

html {
	*::selection {
		background-color: var(--color-black);
		color: var(--color-white);
	}
	font-family: 'Helvetica Neue LT Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html.bg-black {
	*::selection {
		background-color: var(--color-white);
		color: var(--color-black);
	}
}

em {
	font-style: italic;
}

.usn {
	user-select: none;
}

.no-focus:focus {
	outline: none;
}

/*
// === Utilities ===
*/
.link--underline--hover {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 1px;
	text-decoration-color: transparent;
	transition: all 400ms ease;

	&.active,
	&:hover,
	&:focus {
		text-decoration-color: currentColor;
	}
}

.hover__underline {
	&:after {
		position: absolute;
		bottom: -1px;
		height: 1px;
		left: 0;
		content: "";
		width: 100%;
		background: currentColor;
		transform: scaleX(0);
		transition: transform .32s cubic-bezier(.445,.05,.55,.95);
		transform-origin: right top;
	}

	&:hover {
		&:after {
			transform: scale(1);
			transform-origin: left top;
		}
	}
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line-break {
	ol,
	ul,
	p {
		margin-bottom: 1em;

		&:last-child {
			margin-bottom: 0;
		}

		ol,
		ul {
			margin-bottom: 0;
		}
	}

	@media (min-width: 1000px) {
		ol,
		ul,
		p {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}

			ol,
			ul {
				margin-bottom: 0;
			}
		}
	}
}

//
// === Rich Text ===
//

.rich-text {
	a {
		text-decoration: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 1px;
		text-decoration-color: currentColor;
		transition: text-decoration-color 200ms ease;

		&:hover,
		&:focus {
			text-decoration-color: transparent;
		}
	}

	b,
	strong {
		font-weight: 600;
	}

	em,
	i {
		font-style: italic;
	}

	b .monospace,
	strong .monospace,
	.monospace b,
	.monospace strong {
		font-weight: 700;
	}

	ul li {
		position: relative;
		padding-left: $spacer-size * 1.5;

		&:before {
			content: '+';
			display: inline;
			position: absolute;
			left: 0;
		}
	}

	ul li ul li:before {
		content: '◦';
	}

	ul li ul li ul li:before {
		content: '‣';
	}

	ol {
		counter-reset: section;

		li {
			position: relative;
			padding-left: $spacer-size * 2;

			&:before {
				counter-increment: section;
				content: counters(section, '.') '.';
				display: inline;
				position: absolute;
				left: 0;
			}
		}
	}

	ol li ol li:before {
		content: counter(section, lower-alpha) '.';
	}

	ol li ol li ol li:before {
		content: counter(section, lower-roman) '.';
	}
}